replicaCount: 1
image:
  repository: nginx
  tag: alpine
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 8080
env:
  POSTGRES_HOST: "postgresql"
  POSTGRES_PORT: "5432"
  REDIS_HOST: "redis-master"
