apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
  - ../apps/
  - ../infrastructure/kustomization.yaml  # Явный путь к kustomization
